.tabligh {
  width: 100%;
  height: 300px;
  .tabligh__center {
    width: 90%;
    height: 270px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center;
    
    margin: 0 auto;
    .tabligh__1 {
      & a {
        column-gap: 16px;
        & img {
          
          width: 600px;
          height: 240px;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    }
  }
}
